@charset "utf-8";
/* CSS Document */


/* CSS for the Header Title */

#top h1 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border: medium outset #EC1014;
	padding-left: 10px;
	background-color: #BBE2B9;
	text-align: center;
	color: #1662B1;

}

	
	/* CSS For Article Contents*/

#Script {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	border: medium outset #48B943;
	padding-left: 10px;	
	padding-right: 10px;
	word-wrap:break-word;
	background-color: #FFFFFF; 

}


	

	/* CSS for Paragraph for Article */

#Script p1 {
	color: #125396;
	font-weight: 600;
	font-size: x-large;
	text-decoration: underline;
	word-wrap:break-word;
}


	
